ENV=local
SECRET_KEY=changethis
FRONTEND_HOST=http://localhost:3000
DOMAIN=localhost

PROJECT_NAME="URL Shortener"

DEFAULT_SUPERUSER=admin@example.com
DEFAULT_SUPERUSER_PASSWORD=changethis

DATABASE_NAME=url_shortener_db
DATABASE_USER=user
DATABASE_PASSWORD=changethis
DATABASE_HOST=localhost
DATABASE_DOCKER_NETWORK_HOST=url-shortener-db
DATABASE_DOCKER_NETWORK_PORT=5432
DATABASE_PORT=6543

SMTP_TLS=
SMTP_SSL=
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=
EMAILS_FROM_NAME=

# DATABASE_URL="sqlite:///./example_db"

BACKEND_CORS_ORIGINS="http://localhost,http://localhost:5173,https://localhost,https://localhost:5173,http://localhost.tiangolo.com"

CELERY_BROKER_URI="redis://redis:6379"
