ENV=local
SECRET_KEY=changethis
FRONTEND_HOST=http://localhost:5173
DOMAIN=localhost

PROJECT_NAME="Full Stack FastAPI Project"
STACK_NAME=full-stack-fastapi-project

DEFAULT_SUPERUSER=admin@example.com
DEFAULT_SUPERUSER_PASSWORD=changethis

DATABASE_NAME=example_db
DATABASE_USER=example
DATABASE_PASSWORD=admin
DATABASE_HOST=localhost
DATABASE_PORT=6543

# DATABASE_URL="sqlite:///./example_db"
